<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.quesa.xpcservice</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.xpcServiceBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>Creates an XPC service target for Quesa 3D Device Server with all necessary configuration pre-set.</string>
	<key>Nodes</key>
	<array>
		<string>main.mm</string>
		<string>Info.plist</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>main.mm</key>
		<dict>
			<key>Group</key>
			<string>Source</string>
			<key>Path</key>
			<string>main.mm</string>
		</dict>
		<key>Info.plist</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Info.plist</string>
		</dict>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Product Name:</string>
			<key>Description</key>
			<string>The name of the XPC service</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>Quesa3DDeviceServer</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>bundleIdentifier</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Bundle Identifier:</string>
			<key>Description</key>
			<string>The bundle identifier for the XPC service</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>com.quesa.osx.3ddevice.server.xpc</string>
		</dict>
	</array>
	<key>Project</key>
	<dict>
		<key>SharedSettings</key>
		<dict>
			<key>PRODUCT_NAME</key>
			<string>$(TARGET_NAME)</string>
			<key>PRODUCT_BUNDLE_IDENTIFIER</key>
			<string>com.quesa.osx.3ddevice.server.xpc</string>
			<key>INFOPLIST_FILE</key>
			<string>$(SRCROOT)/XPCService/Info.plist</string>
			<key>MACOSX_DEPLOYMENT_TARGET</key>
			<string>10.15</string>
			<key>CLANG_ENABLE_OBJC_ARC</key>
			<string>YES</string>
			<key>CLANG_CXX_LANGUAGE_STANDARD</key>
			<string>c++14</string>
			<key>CLANG_CXX_LIBRARY</key>
			<string>libc++</string>
			<key>GCC_PREPROCESSOR_DEFINITIONS</key>
			<array>
				<string>$(inherited)</string>
				<string>QUESA_USE_XPC=1</string>
			</array>
			<key>HEADER_SEARCH_PATHS</key>
			<array>
				<string>$(inherited)</string>
				<string>$(SRCROOT)</string>
				<string>$(SRCROOT)/Include</string>
				<string>$(SRCROOT)/Source</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
